<section class="flex justify-center items-center h-[89vh]">
  <div
    class="w-[70%] m-auto bg-white dark:bg-neutral-primary-soft dark:text-body rounded-[30px] flex px-10 py-15"
  >
    <!-------------- left side ----------->
    <div class="text-center border-e w-[40%] me-8">
      <div class="p-5 rounded-full bg-blue-500/30 m-auto w-fit">
        <i class="fa-solid fa-shield-halved text-5xl text-blue-600"></i>
      </div>
      <h2 class="w-[60%] mx-auto my-5 text-3xl font-bold text-gray-800 dark:text-body">
        Your account is important
      </h2>
      <p class="w-[80%] m-auto text-heading dark:text-body">
        Keep your account secure by using a strong password that you don't use anywhere else.
      </p>
    </div>
    <!-- ------------ right-------- -->
    <div class="flex-1">
      <h1 class="text-3xl font-bold mb-8">Change Password</h1>

      <form [formGroup]="changePasswordForm" class="flex flex-col gap-7">
        <!------------ current password------- -->
        <div>
          <div class="cursor-pointer">
            <div class="relative cursor-pointer">
              <input
                formControlName="password"
                type="text"
                id="current_password_input"
                class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-heading bg-transparent rounded-base border-1 border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer"
                placeholder=" "
              />
              <label
                for="current_password_input"
                class="absolute text-sm text-body duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-neutral-primary dark:bg-neutral-primary-soft px-2 peer-focus:px-2 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
                >Current password</label
              >
            </div>
          </div>
          @if (
            changePasswordForm.get('password')?.touched &&
            changePasswordForm.get('password')?.invalid
          ) {
            <div
              class="flex my-0 p-3 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
              role="alert"
            >
              <span class="sr-only">Danger</span>
              <div>
                <ul class="list-disc list-outside space-y-1 ps-2.5">
                  @if (changePasswordForm.get('password')?.hasError('required')) {
                    <li class="[word-spacing:2px]">password is required.</li>
                  } @else if (changePasswordForm.get('password')?.hasError('pattern')) {
                    <li>
                      must contain at least 8 chars, 1 uppercase, 1 lowercase, 1 number, and 1
                      special
                    </li>
                  }
                </ul>
              </div>
            </div>
          }
        </div>

        <!------------ new password------- -->
        <div>
          <div class="cursor-pointer">
            <div class="relative">
              <input
                formControlName="newPassword"
                type="text"
                id="newPasswordInput"
                class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-heading bg-transparent rounded-base border-1 border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer"
                placeholder=" "
              />
              <label
                for="newPasswordInput"
                class="absolute text-sm text-body duration-300 transform dark:bg-neutral-primary-soft -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-neutral-primary px-2 peer-focus:px-2 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
                >New password</label
              >
            </div>
          </div>
          @if (
            changePasswordForm.get('newPassword')?.touched &&
            changePasswordForm.get('newPassword')?.invalid
          ) {
            <div
              class="flex mx-auto my-0 p-3 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
              role="alert"
            >
              <span class="sr-only">Danger</span>
              <div>
                <ul class="list-disc list-outside space-y-1 ps-2.5">
                  @if (changePasswordForm.get('newPassword')?.hasError('required')) {
                    <li class="[word-spacing:2px]">password is required.</li>
                  } @else if (changePasswordForm.get('newPassword')?.hasError('pattern')) {
                    <li>
                      must contain at least 8 chars, 1 uppercase, 1 lowercase, 1 number, and 1
                      special
                    </li>
                  }
                </ul>
              </div>
            </div>
          }
        </div>
        <!------------ confirm password------- -->
        <div>
          <div class="cursor-pointer">
            <div class="relative">
              <input
                formControlName="confirmPassword"
                type="text"
                id="confirmPasswordInput"
                class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-heading bg-transparent rounded-base border-1 border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer"
                placeholder=" "
              />
              <label
                for="confirmPasswordInput"
                class="absolute text-sm text-body duration-300 dark:bg-neutral-primary-soft transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-neutral-primary px-2 peer-focus:px-2 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
                >Confirm new password</label
              >
            </div>
          </div>
          @if (
            changePasswordForm.get('confirmPassword')?.touched &&
            changePasswordForm.get('confirmPassword')?.invalid
          ) {
            <div
              class="flex mx-auto my-0 p-3 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
              role="alert"
            >
              <span class="sr-only">Danger</span>
              <div>
                <ul class="list-disc list-outside space-y-1 ps-2.5">
                  @if (changePasswordForm.get('confirmPassword')?.hasError('required')) {
                    <li class="[word-spacing:2px]">Please confirm your password.</li>
                  } @else if (changePasswordForm.get('confirmPassword')?.hasError('mismatch')) {
                    <li>Passwords do not match.</li>
                  }
                </ul>
              </div>
            </div>
          }
        </div>
        <!--------------- button-------------------->
        <button
          (click)="submitDate()"
          class="bg-blue-600 cursor-pointer hover:bg-blue-700 transition text-white px-10 py-3 rounded-xl font-semibold"
        >
          Update Password
        </button>
      </form>
    </div>
  </div>
</section>
