<button
  data-drawer-target="separator-sidebar"
  data-drawer-toggle="separator-sidebar"
  aria-controls="separator-sidebar"
  type="button"
  class="text-heading bg-transparent box-border border border-transparent hover:bg-neutral-secondary-medium focus:ring-4 focus:ring-neutral-tertiary font-medium leading-5 rounded-base ms-3 mt-3 text-sm p-2 focus:outline-none fixed top-[10px] left-[10%] md:left-[7%] z-50 lg:static inline-flex lg:hidden"
>
  <span class="sr-only">Open sidebar</span>
  <i class="fa-solid fa-bars text-2xl text-heading"></i>
</button>

<aside
  id="separator-sidebar"
  class="lg:sticky fixed top-[80px] left-0 z-50 h-screen transition-transform -translate-x-full lg:translate-x-0"
  aria-label="Sidebar"
>
  <div class="px-3 h-full py-4 overflow-y-auto bg-neutral-primary-soft border-e border-default">
    <ul class="space-y-2 font-medium">
      <li>
        <a
          href="#"
          class="flex items-center px-2 py-1.5 text-body rounded-base hover:bg-neutral-tertiary hover:text-fg-brand group"
        >
          <svg
            class="w-5 h-5 transition duration-75 group-hover:text-fg-brand"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M10 6.025A7.5 7.5 0 1 0 17.975 14H10V6.025Z"
            />
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13.5 3c-.169 0-.334.014-.5.025V11h7.975c.011-.166.025-.331.025-.5A7.5 7.5 0 0 0 13.5 3Z"
            />
          </svg>
          <span class="ms-3">Dashboard</span>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="flex items-center px-2 py-1.5 text-body rounded-base hover:bg-neutral-tertiary hover:text-fg-brand group"
        >
          <svg
            class="w-5 h-5 transition duration-75 group-hover:text-fg-brand"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M10 6.025A7.5 7.5 0 1 0 17.975 14H10V6.025Z"
            />
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13.5 3c-.169 0-.334.014-.5.025V11h7.975c.011-.166.025-.331.025-.5A7.5 7.5 0 0 0 13.5 3Z"
            />
          </svg>
          <span class="ms-3">Dashboard</span>
        </a>
      </li>
    </ul>
    <ul class="space-y-2 font-medium border-t border-default pt-4 mt-4">
      <li>
        <button
          type="button"
          class="flex items-center justify-between px-2 py-1.5 text-body rounded-base hover:bg-neutral-tertiary hover:text-fg-brand group"
          aria-controls="dropdown-example"
          data-collapse-toggle="dropdown-example"
        >
          <svg
            class="shrink-0 w-5 h-5 transition duration-75 group-hover:text-fg-brand"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 4h1.5L9 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-8.5-3h9.25L19 7H7.312"
            />
          </svg>
          <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">E-commerce</span>
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m19 9-7 7-7-7"
            />
          </svg>
        </button>
        <ul id="dropdown-example" class="hidden py-2 space-y-2">
          <li>
            <a
              href="#"
              class="pl-10 flex items-center px-2 py-1.5 text-body rounded-base hover:bg-neutral-tertiary hover:text-fg-brand group"
              >Products</a
            >
          </li>
          <li>
            <a
              href="#"
              class="pl-10 flex items-center px-2 py-1.5 text-body rounded-base hover:bg-neutral-tertiary hover:text-fg-brand group"
              >Billing</a
            >
          </li>
          <li>
            <a
              href="#"
              class="pl-10 flex items-center px-2 py-1.5 text-body rounded-base hover:bg-neutral-tertiary hover:text-fg-brand group"
              >Invoice</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>
</aside>
