<section>
  <div class="relative">
    <span class="absolute left-0 top-0 w-[2px] h-[30px] bg-slate-200 transition-colors"> </span>
    <span class="absolute left-0 top-6 w-6 h-[2px] bg-slate-200"></span>
  </div>
  <form class="pl-6" (submit)="sendComment($event, comment.post, comment._id)">
    <div class="flex gap-2 mb-4">
      <img
        [src]="userDetails.photo"
        [alt]="userDetails.name"
        class="w-8 h-8 rounded-full object-cover"
      />
      <div class="flex gap-2 flex-1">
        <div class="flex-1 relative">
          <textarea
            [(ngModel)]="postText"
            [formControl]="commentContent"
            class="w-full h-10 bg-transparent rounded-full dark:text-body cursor-pointer focus:cursor-text text-[14px] resize-none outline-none scrollbar-none [scrollbar-width:none] [&::-webkit-scrollbar]:hidden"
            placeholder="Comment as ..."
          ></textarea>
          <div class="flex absolute top-1/2 right-[2%] -translate-y-1/2">
            <!-- <button class="me-2 cursor-pointer">
              <i class="fa-regular text-[18px] fa-face-smile"></i>
            </button> -->
            <div class="relative">
              <button
                (click)="showEmojiPicker = !showEmojiPicker"
                class="me-2 cursor-pointer dark:text-body dark:hover:text-white"
                type="button"
              >
                <i class="fa-regular text-[18px] fa-face-smile"></i>
              </button>
              @if (showEmojiPicker) {
                <div class="absolute top-[30px] end-0 z-50 bg-white rounded-lg shadow-lg">
                  <emoji-mart
                    (emojiSelect)="addEmojii($event)"
                    title="Pick your emoji…"
                    emoji="point_up"
                  >
                  </emoji-mart>
                </div>
              }
            </div>
            <label [for]="comment._id" class="cursor-pointer dark:text-body dark:hover:text-white"
              ><i class="fa-regular fa-image text-[18px]"></i
            ></label>
            <input [id]="comment._id" (change)="imgComment($event)" type="file" class="hidden" />
          </div>
        </div>
        <button
          class="flex self-center cursor-pointer bg-brand-light w-9 h-9 p-2 pt-3 rounded-full"
          type="submit"
        >
          <i class="self-center fa-regular fa-paper-plane text-white text-[15px]"></i>
        </button>
      </div>
    </div>
    @if (imgUrlComment) {
      <div>
        <img [src]="imgUrlComment" class="w-full object-center" alt="img for comment" />
      </div>
    }
  </form>
</section>
