@import 'tailwindcss'; /* You can add global styles to this file, and also import other style files */
@import 'flowbite/src/themes/default';
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-mainColor: #00298d;
  --color-secondColor: #f0f2f5;
  --color-darkBg: #101828;

  --font-specialFont: 'Lobster', sans-serif;
}
@utility container {
  margin: auto;
}
body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}
input[type='password']::-ms-reveal {
  display: none;
}
input[type='password']::-ms-clear {
  display: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
